@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Rubik', sans-serif; }

body main {
  background-color: #f5f3f7;
  display: flex;
  position: relative;
  z-index: 1; }
  body main .telefono {
    margin: 200px 50px 0 400px;
    position: absolute;
    z-index: 4; }
    body main .telefono .bordeTelefono {
      background-color: #f5f3f7;
      width: 300px;
      height: 615px;
      border: 10px solid white;
      border-radius: 20px;
      box-shadow: 10px 10px 30px #a39daa; }
      body main .telefono .bordeTelefono .topChatUser {
        width: 300px;
        height: 90px;
        background: linear-gradient(50deg, #8838ff 30%, #e942ff 100%);
        border-radius: 20px 20px 5px 5px;
        display: flex;
        flex-direction: column; }
        body main .telefono .bordeTelefono .topChatUser .nodChatUser {
          display: flex;
          justify-content: center; }
          body main .telefono .bordeTelefono .topChatUser .nodChatUser .nodTelefono {
            width: 180px;
            height: 30px;
            border-radius: 0 0 20px 20px;
            background: white;
            display: flex;
            margin: -2px; }
        body main .telefono .bordeTelefono .topChatUser .elementsChatUser {
          display: flex;
          align-items: center;
          padding: 10px 0 0 0; }
          body main .telefono .bordeTelefono .topChatUser .elementsChatUser .leftChatUser {
            display: flex;
            align-items: center;
            justify-content: center; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .leftChatUser .arrowLeft {
              margin-left: 15px;
              margin-right: 10px; }
              body main .telefono .bordeTelefono .topChatUser .elementsChatUser .leftChatUser .arrowLeft .arrowTopProfile {
                width: 2px;
                height: 8px;
                background-color: white;
                display: flex;
                transform: rotate(35deg);
                border-radius: 0px 0px 5px 5px; }
              body main .telefono .bordeTelefono .topChatUser .elementsChatUser .leftChatUser .arrowLeft .arrowBottomProfile {
                width: 2px;
                height: 8px;
                background-color: white;
                display: flex;
                transform: rotate(155deg);
                margin-top: -2px;
                border-radius: 5px 5px 0px 0px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .leftChatUser .profilePicture img {
              width: 30px;
              height: auto;
              border-radius: 20px;
              border: 1px solid white; }
          body main .telefono .bordeTelefono .topChatUser .elementsChatUser .centerChatUser {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .centerChatUser .textProfile .nameProfile {
              color: #f5f3f7;
              font-size: 14px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .centerChatUser .textProfile .statusProfile {
              color: #f5f3f7;
              opacity: .5;
              font-size: 10px;
              font-weight: 100;
              margin-top: 4px; }
          body main .telefono .bordeTelefono .topChatUser .elementsChatUser .rightChatUser .threePoints {
            margin-left: 100px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .rightChatUser .threePoints .pointOne {
              width: 3px;
              height: 3px;
              background: #f5f3f7;
              margin-top: 2px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .rightChatUser .threePoints .pointTwo {
              width: 3px;
              height: 3px;
              background: #f5f3f7;
              margin-top: 2px; }
            body main .telefono .bordeTelefono .topChatUser .elementsChatUser .rightChatUser .threePoints .pointThree {
              width: 3px;
              height: 3px;
              background: #f5f3f7;
              margin-top: 2px; }
      body main .telefono .bordeTelefono .textChat {
        margin: 16px 0 0 14px; }
        body main .telefono .bordeTelefono .textChat .topText .topTextOne {
          width: 160px;
          height: 32px;
          border-radius: 14px 14px 14px 5px;
          background: rgba(216, 158, 255, 0.48);
          padding: 10px 0 0 10px; }
          body main .telefono .bordeTelefono .textChat .topText .topTextOne p {
            color: #9241c8;
            font-size: 10px;
            width: 140px; }
        body main .telefono .bordeTelefono .textChat .topText .topTextTwo {
          width: 160px;
          height: 32px;
          border-radius: 14px 14px 14px 5px;
          background: rgba(216, 158, 255, 0.48);
          margin-top: 10px;
          padding: 10px 0 0 10px; }
          body main .telefono .bordeTelefono .textChat .topText .topTextTwo p {
            color: #9241c8;
            font-size: 10px;
            width: 160px; }
        body main .telefono .bordeTelefono .textChat .boxTextImg {
          margin-left: 105px; }
          body main .telefono .bordeTelefono .textChat .boxTextImg .boxImgDogs {
            display: flex;
            margin-top: 20px; }
            body main .telefono .bordeTelefono .textChat .boxTextImg .boxImgDogs .boxImgDogOne img {
              width: 50px;
              height: auto;
              border-radius: 10px;
              margin: 0 10px 0 0; }
            body main .telefono .bordeTelefono .textChat .boxTextImg .boxImgDogs .boxImgDogTwo img {
              width: 50px;
              height: auto;
              border-radius: 10px;
              margin: 0 10px 0 0; }
            body main .telefono .bordeTelefono .textChat .boxTextImg .boxImgDogs .boxImgDogThree img {
              width: 50px;
              height: auto;
              border-radius: 10px;
              margin: 0 10px 0 0; }
          body main .telefono .bordeTelefono .textChat .boxTextImg .boxTextImgOne {
            background: white;
            box-shadow: 2px 2px 5px #c6cacd;
            width: 160px;
            border-radius: 15px 15px 5px 15px;
            padding: 10px 0 10px 0;
            margin: 10px 0 0 10px; }
            body main .telefono .bordeTelefono .textChat .boxTextImg .boxTextImgOne p {
              width: 140px;
              margin-left: 10px;
              margin: 0 0px 0 10px;
              font-size: 10px;
              color: #6e5d7e; }
          body main .telefono .bordeTelefono .textChat .boxTextImg .boxTextImgTwo {
            background: white;
            box-shadow: 2px 2px 5px #c6cacd;
            width: 100px;
            border-radius: 15px 15px 5px 15px;
            padding: 10px 0 10px 0;
            margin: 10px 0 0 70px; }
            body main .telefono .bordeTelefono .textChat .boxTextImg .boxTextImgTwo p {
              width: auto;
              margin-left: 10px;
              margin: 0 10px 0 10px;
              font-size: 10px;
              color: #6e5d7e; }
        body main .telefono .bordeTelefono .textChat .bottomText .textBoxBottom {
          width: 160px;
          height: 40px;
          border-radius: 14px 14px 14px 5px;
          background: rgba(216, 158, 255, 0.48);
          margin-top: 10px;
          padding: 10px 0 10px 10px; }
          body main .telefono .bordeTelefono .textChat .bottomText .textBoxBottom p {
            color: #9241c8;
            font-size: 10px;
            width: 140px;
            line-height: 13px; }
        body main .telefono .bordeTelefono .textChat .bottomText .boxGradientOne {
          display: flex;
          align-items: center;
          background: linear-gradient(220deg, #8838ff 30%, #e942ff 100%);
          width: 200px;
          height: 40px;
          border-radius: 15px 15px 15px 5px;
          margin-top: 10px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientOne .circleGradientOne {
            width: 10px;
            height: 10px;
            border: 1px solid #c6cacd;
            border-radius: 100%;
            margin-left: 10px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientOne .textGradientOne {
            font-size: 12px;
            color: white;
            margin-left: 15px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientOne .priceGradientOne {
            font-size: 16px;
            font-weight: 700;
            color: white;
            margin-left: 30px; }
        body main .telefono .bordeTelefono .textChat .bottomText .boxGradientTwo {
          display: flex;
          align-items: center;
          background: linear-gradient(220deg, #8838ff 30%, #e942ff 100%);
          width: 200px;
          height: 40px;
          border-radius: 15px 15px 15px 5px;
          margin-top: 10px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientTwo .circleGradientTwo {
            width: 10px;
            height: 10px;
            border: 1px solid #c6cacd;
            border-radius: 100%;
            margin-left: 10px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientTwo .textGradientTwo {
            font-size: 12px;
            color: white;
            margin-left: 15px; }
          body main .telefono .bordeTelefono .textChat .bottomText .boxGradientTwo .priceGradientTwo {
            font-size: 16px;
            font-weight: 700;
            color: white;
            margin-left: 50px; }
      body main .telefono .bordeTelefono .boxChat {
        width: 290px;
        height: 40px;
        background: white;
        border-radius: 20px;
        margin: 20px 0 0 5px; }
      body main .telefono .bordeTelefono .boxChatText {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; }
        body main .telefono .bordeTelefono .boxChatText p {
          color: #c6cacd;
          font-size: 12px;
          margin-top: 10px;
          margin: 10px 0 0 30px; }
        body main .telefono .bordeTelefono .boxChatText .circleChatText {
          margin: 5px 0 0 120px;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background: #3e2753;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          body main .telefono .bordeTelefono .boxChatText .circleChatText .arrowTop {
            width: 3px;
            height: 10px;
            background: white;
            transform: rotate(130deg);
            margin: -2px;
            border-radius: 30%; }
          body main .telefono .bordeTelefono .boxChatText .circleChatText .arrowBottom {
            width: 3px;
            height: 10px;
            background: white;
            transform: rotate(50deg);
            margin: -3px;
            border-radius: 30%; }

body .generalText {
  position: absolute;
  z-index: 3;
  margin: 400px 0 0 900px; }
  body .generalText h1 {
    font-size: 60px;
    color: #3e2753;
    font-weight: 500; }
  body .generalText p {
    margin-top: 30px;
    width: 570px;
    font-size: 20px;
    line-height: 36px;
    color: #6e5d7e; }

body .purpleLeft {
  width: 550px;
  height: 900px;
  border-radius: 0px 0px 350px 350px;
  background: linear-gradient(0deg, #8838ff 30%, #e942ff 100%);
  position: absolute;
  z-index: 2;
  margin-left: -80px; }

body .purpleRight {
  width: 550px;
  height: 900px;
  border-radius: 350px 350px 0px 0px;
  background: #f5f3f7;
  position: absolute;
  z-index: 2;
  margin: 200px 0 0 1000px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  body main .telefono {
    margin: 80px 50px 0 30px; }
  body .generalText {
    margin: 800px 0 0 0px;
    width: 375px; }
    body .generalText h1 {
      font-size: 40px;
      width: 300px;
      margin: 0 auto 0 auto; }
    body .generalText p {
      width: 300px;
      text-align: center;
      margin: 0 auto 0 auto;
      margin-top: 30px;
      font-size: 16px; }
  body .purpleLeft {
    width: 550px;
    height: 600px;
    margin-left: -350px; }
  body .purpleRight {
    width: 550px;
    height: 700px;
    margin: 500px 0 0 200px; } }
