@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "utilities/variables.scss";
* {margin: 0px; padding: 0px;}
body {font-family: 'Rubik', sans-serif;}

body {
    main {
        background-color: $Light-Grayish-Violet;
        display: flex;
        .telefono {
            margin: 50px 50px 0 100px;
            .bordeTelefono {
                background-color: $Light-Grayish-Violet;
                width: 300px;
                height: 650px;
                border: 10px solid $White;
                border-radius: 20px;
                box-shadow: 10px 10px 30px $Dark-Grayish-Violet;
                .topChatUser {
                    width: 300px;
                    height: 90px;
                    background: $gradientLeftPurple;
                    border-radius: 20px 20px 5px 5px;
                    display: flex;
                    flex-direction: column;
                    .nodChatUser {
                        display: flex;
                        justify-content: center;
                        .nodTelefono {
                            width: 180px;
                            height: 30px;
                            border-radius: 0 0 20px 20px;
                            background: $White;
                            display: flex; 
                            margin: -2px;
                        }
                    }
                    .elementsChatUser {
                        display: flex;
                        align-items: center;
                        padding: 10px 0 0 0;
                        .leftChatUser {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .arrowLeft {
                                margin-left: 15px;
                                margin-right: 10px;
                                .arrowTopProfile {
                                    width: 2px;
                                    height: 8px;
                                    background-color: $White;
                                    display: flex;
                                    transform: rotate(35deg);
                                    border-radius: 0px 0px 5px 5px;
                                }
                                .arrowBottomProfile {
                                    width: 2px;
                                    height: 8px;
                                    background-color: $White;
                                    display: flex;
                                    transform: rotate(155deg);
                                    margin-top: -2px;
                                    border-radius: 5px 5px 0px 0px;
    
                                }
                            }
                            .profilePicture {
                                img {
                                    width: 30px;
                                    height: auto;
                                    border-radius: 20px;
                                    border: 1px solid $White;
                                }
                            }
                        }
                        .centerChatUser {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-left: 20px;
                            .textProfile {
                                .nameProfile {
                                    color: $Light-Grayish-Violet;
                                    font-size: 14px;
                                }
                                .statusProfile {
                                    color: $Light-Grayish-Violet;
                                    opacity: .5;
                                    font-size: 10px;
                                    font-weight: 100;
                                    margin-top: 4px;
                                }
                            }
                        }
                        .rightChatUser {
                            .threePoints {
                                margin-left: 100px;
                                .pointOne {
                                    width: 3px;
                                    height: 3px;
                                    background: $Light-Grayish-Violet;
                                    margin-top: 2px;
                                }
                                .pointTwo {
                                    width: 3px;
                                    height: 3px;
                                    background: $Light-Grayish-Violet;
                                    margin-top: 2px; 
                                }
                                .pointThree {
                                    width: 3px;
                                    height: 3px;
                                    background: $Light-Grayish-Violet;
                                    margin-top: 2px; 
                                }
                            }
                        }
                    }
                }
                .textChat {
                    margin: 16px 0 0 14px;
                    .topText {
                        .topTextOne {
                            width: 170px;
                            height: 40px;
                            border-radius: 14px 14px 14px 5px;
                            background: $Grayish-Blue;
                            padding: 10px 0 0 10px;
                            p {
                                color: $Moderate-Violet;
                                font-size: 12px;
                                width: 140px;
                            }
                        }
                        .topTextTwo {
                            width: 170px;
                            height: 40px;
                            border-radius: 14px 14px 14px 5px;
                            background: $Grayish-Blue;
                            margin-top: 10px;
                            padding: 10px 0 0 10px;
                            p {
                                color: $Moderate-Violet;
                                font-size: 12px;
                                width: 160px;
                            }
                        }
                    }
                    .boxTextImg {
                        .boxImgDogs {
                            display: flex;
                            .boxImgDogOne {
                                img {
                                    width: 50px;
                                    height: auto;
                                    border-radius: 10px;
                                    margin: 0 5px 0 0;
                                }
                            }
                            .boxImgDogTwo {
                                img {
                                    width: 50px;
                                    height: auto;
                                    border-radius: 10px;
                                    margin: 0 5px 0 0; 
                                }
                            }
                            .boxImgDogThree {
                                img {
                                    width: 50px;
                                    height: auto;
                                    border-radius: 10px;
                                    margin: 0 5px 0 0;
                                }
                            }
                        }
                        .boxTextImgOne {
                            p {

                            }
                        }
                        .boxTextImgTwo {
                            p {

                            }
                        }
                    }
                    .bottomText {
                        .textBoxBottom {
                            p {

                            }
                        }
                        .boxGradientOne {
                            .circleGradientOne {}
                            .textGradientOne {}
                            .priceGradientTwo {}
                        }
                        .boxGradientTwo {
                            .circleGradientTwo {}
                            .textGradientTwo {}
                            .priceGradientTwo {}
                        }
                    }
                }
                .boxChat {
                    .boxChatText {
                        p {}
                        .cirlceChatText {
                            .arrowTop {}
                            .arrowBottom {}
                        }
                    }
                }
            }
        }
        .generalText {
            h1 {}
            p {}
        }
        .purpleLeft {
            /*
            width: 300px;
            height: 600px;
            border-radius: 0px 0px 150px 150px;
            background: $gradientBottomPurple;
            */
        }
        .purpleRight {
            /*
            width: 300px;
            height: 600px;
            border-radius: 150px 150px 0px 0px;
            background: $Light-Grayish-Violet;
            */
        }
    }
}